{% extends 'layout.html' %} {% block css %}
<link rel="stylesheet" href="/assets/plugins/select2/select2.css">
<link rel="stylesheet" href="/assets/plugins/owlCarousel/owl.carousel.css">
<link rel="stylesheet" href="/assets/plugins/owlCarousel/owl.theme.default.css">
{% endblock css %} {% block titulo %}
<div class="col-sm-6 hidden-xs">
    <div class="page-header">
        <h1>Dashboard <small>Ingreso de productos al streaming</small></h1>
    </div>
</div>
{% endblock titulo %} {% block contenido %}
<!-- start: BREADCRUMB -->
<div class="row">
    <div class="col-md-12">
        <ol class="breadcrumb">
            <li>
                <a href="#">
                    Dashboard
                </a>
            </li>
            <li class="active">
                <a href="#">
                    Inicio
                </a>
            </li>
        </ol>
    </div>
</div>
<!-- end: BREADCRUMB -->
<div class="row">
    <div class="col-md-offset-2 col-md-8">
        <div class="panel panel-white">
            <div class="panel-heading border-light">
                <h4 class="panel-title">Ingreso de productos al <span class="text-bold">Streaming</span></h4>
                <div class="panel-tools">
                    <div class="dropdown">
                        <a data-toggle="dropdown" class="btn btn-xs dropdown-toggle btn-transparent-grey">
                            <i class="fa fa-cog"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-light pull-right" role="menu">
                            <li>
                                <a class="panel-collapse collapses" href="#"><i class="fa fa-angle-up"></i> <span>Collapse</span> </a>
                            </li>
                            <li>
                                <a class="panel-refresh" href="#">
                                    <i class="fa fa-refresh"></i> <span>Refresh</span>
                                </a>
                            </li>
                            <li>
                                <a class="panel-config" href="#panel-config" data-toggle="modal">
                                    <i class="fa fa-wrench"></i> <span>Configurations</span>
                                </a>
                            </li>
                            <li>
                                <a class="panel-expand" href="#">
                                    <i class="fa fa-expand"></i> <span>Fullscreen</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <a class="btn btn-xs btn-link panel-close" href="#">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
            </div>
            <div class="panel-body">
                <div class="tabbable">
                    <ul id="myTab2" class="nav nav-tabs">
                        <li class="active">
                            <a href="#tabIngresar" data-toggle="tab">
                                <i class="fa fa-rocket fa-lg"></i>&nbsp;Automatico
                            </a>
                        </li>
                        <li>
                            <a href="#tabManual" data-toggle="tab">
                                <i class="fa fa-cog fa-lg"></i>&nbsp;Manual
                            </a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane fade in active" id="tabIngresar">
                            <div class="container">

                                <div class="row">
                                    <div class="col-md-offset-3 col-md-6">
                                        {#
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="fa fa-search"></i></span>
                                            <input type="text" placeholder="Buscar productos" class="form-control">
                                        </div>#}
                                        <div class="form-group">
                                            <select class="form-control search-select select2-offscreen" tabindex="-1" title="Select 2">
												<option value="">&nbsp;</option>
												<option value="MI">Michigan</option>
												<option value="MN">Minnesota</option>
											</select>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <br>
                                <div class="row">
                                    <div class="col-md-offset-3 col-md-6">
                                        <div class="panel panel-grey">
                                            <div class="panel-heading">
                                                <h4 class="panel-title"><span class="text-bold">Datos del producto</span></h4>
                                            </div>
                                            <div class="panel-body">
                                                <div class="container">
                                                    <div class="col-md-6" style="background-color: black"></div>
                                                    <div class="col-md-6">Datos del producto</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="text-center">

                                    <button type="button" class="btn btn-success">
                                        Agregar al streaming
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="tabManual">
                            <p>
                                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna
                                aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
                                Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem
                                ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt
                                ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="panel panel-white">
            <div class="panel-body">
                <div class="owl-carousel">
                    <div> Your Content </div>
                    <div> Your Content </div>
                    <div> Your Content </div>
                    <div> Your Content </div>
                    <div> Your Content </div>
                    <div> Your Content </div>
                    <div> Your Content </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock contenido %} 
{% block js %} 
    <script src="/assets/plugins/select2/select2.min.js"></script>
    <script src="/assets/plugins/owlCarousel/owl.carousel.min.js"></script>
    <script>
        jQuery(document).ready(function() {
            runSelect2();
            $(".owl-carousel").owlCarousel();
        });
        //de aqui en adelante esta parte tendra que ir en un JS aparte
        var runSelect2 = function() {
            $(".search-select").select2({
                placeholder: "Buscar",
                allowClear: false
            });
        };
    </script>
{% endblock js %}